/android/bin/
/service/bin/
/CoinWeb/build/
/service/logs/
/service/dist/
/client/Assets/UnityVS/
/client/*.*
/client/Temp/
/client/obj/
/client/test_Data/
/client/iphone/
/client/Library/
/client/admin_Data/
/client/admin.exe
/UserManager/bin/
/UserManager/logs/
/UserManager/dist/